In [17]:
import os
import tarfile
from six.moves import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [30]:
import pandas as pd

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [31]:
housing = load_housing_data()
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [26]:
housing.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [27]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [33]:
housing["longitude"].value_counts()

-118.31    162
-118.30    160
-118.29    148
-118.27    144
-118.32    142
-118.28    141
-118.35    140
-118.36    138
-118.19    135
-118.25    128
-118.37    128
-118.20    126
-118.14    125
-118.26    121
-118.13    121
-118.18    120
-118.34    119
-118.21    118
-118.15    116
-118.12    112
-118.10    109
-118.38    107
-118.17    106
-118.43    106
-118.16    103
-122.27    103
-118.33    102
-118.22    100
-117.90    100
-118.11    100
          ...
-123.28      1
-115.75      1
-115.94      1
-116.12      1
-116.30      1
-115.39      1
-116.16      1
-114.68      1
-123.66      1
-123.43      1
-115.32      1
-124.27      1
-114.63      1
-115.80      1
-123.98      1
-114.64      1
-124.35      1
-114.56      1
-116.55      1
-116.08      1
-123.04      1
-123.92      1
-124.22      1
-123.12      1
-123.63      1
-115.72      1
-123.68      1
-116.09      1
-123.72      1
-116.69      1
Name: longitude, Length: 844, dtype: int64

In [34]:
housing["latitude"].value_counts()

34.06    244
34.05    236
34.08    234
34.07    231
34.04    221
34.09    212
34.02    208
34.10    203
34.03    193
33.93    181
33.94    175
33.97    172
33.99    168
33.88    164
34.11    162
33.98    162
34.16    159
34.12    158
34.15    157
34.01    156
33.89    154
34.17    154
34.14    152
33.90    152
34.00    152
33.96    150
34.13    147
33.92    146
33.91    143
33.84    141
        ...
41.13      1
41.69      1
35.82      1
39.96      1
40.03      1
40.27      1
41.46      1
40.37      1
35.69      1
40.49      1
40.38      1
41.15      1
40.30      1
34.73      1
39.81      1
35.56      1
41.23      1
41.02      1
35.86      1
40.98      1
39.38      1
40.35      1
41.82      1
41.21      1
40.74      1
41.63      1
41.88      1
35.89      1
33.27      1
41.61      1
Name: latitude, Length: 862, dtype: int64

In [35]:
housing["housing_median_age"].value_counts()

52.0    1273
36.0     862
35.0     824
16.0     771
17.0     698
34.0     689
26.0     619
33.0     615
18.0     570
25.0     566
32.0     565
37.0     537
15.0     512
19.0     502
27.0     488
24.0     478
30.0     476
28.0     471
20.0     465
29.0     461
31.0     458
23.0     448
21.0     446
14.0     412
22.0     399
38.0     394
39.0     369
42.0     368
44.0     356
43.0     353
40.0     304
13.0     302
41.0     296
45.0     294
10.0     264
11.0     254
46.0     245
5.0      244
12.0     238
8.0      206
9.0      205
47.0     198
4.0      191
48.0     177
7.0      175
6.0      160
50.0     136
49.0     134
3.0       62
2.0       58
51.0      48
1.0        4
Name: housing_median_age, dtype: int64

In [36]:
housing["total_rooms"].value_counts()

1527.0     18
1613.0     17
1582.0     17
2127.0     16
1703.0     15
1471.0     15
2053.0     15
1722.0     15
1607.0     15
1717.0     15
1787.0     14
1705.0     14
1743.0     14
1650.0     14
1880.0     14
1731.0     14
1745.0     14
1724.0     14
1562.0     14
1808.0     13
1999.0     13
1551.0     13
1748.0     13
1649.0     13
1701.0     13
1462.0     13
1621.0     13
2017.0     13
1619.0     13
2228.0     13
           ..
738.0       1
4925.0      1
4887.0      1
3641.0      1
6349.0      1
5735.0      1
6106.0      1
5470.0      1
5409.0      1
13796.0     1
5807.0      1
7517.0      1
8069.0      1
6748.0      1
11965.0     1
6875.0      1
3992.0      1
951.0       1
6128.0      1
16759.0     1
3967.0      1
5002.0      1
225.0       1
4755.0      1
6617.0      1
7784.0      1
7916.0      1
6859.0      1
6846.0      1
5639.0      1
Name: total_rooms, Length: 5926, dtype: int64

In [37]:
housing["total_bedrooms"].value_counts()

280.0     55
331.0     51
345.0     50
393.0     49
343.0     49
348.0     48
328.0     48
394.0     48
272.0     47
309.0     47
295.0     46
317.0     46
322.0     46
399.0     46
314.0     46
284.0     45
388.0     45
291.0     45
346.0     45
287.0     45
340.0     45
313.0     45
290.0     45
312.0     44
361.0     44
460.0     44
390.0     44
300.0     44
294.0     44
269.0     44
          ..
2574.0     1
2141.0     1
2460.0     1
3479.0     1
1679.0     1
1758.0     1
3224.0     1
1127.0     1
2010.0     1
1571.0     1
1494.0     1
1052.0     1
1570.0     1
2814.0     1
1437.0     1
1887.0     1
3336.0     1
1215.0     1
1736.0     1
940.0      1
980.0      1
2009.0     1
3864.0     1
2289.0     1
1288.0     1
2205.0     1
1448.0     1
1691.0     1
2537.0     1
2546.0     1
Name: total_bedrooms, Length: 1923, dtype: int64

In [38]:
housing["population"].value_counts()

891.0      25
761.0      24
1227.0     24
850.0      24
1052.0     24
825.0      23
999.0      22
782.0      22
1005.0     22
781.0      21
1098.0     21
753.0      21
872.0      21
1056.0     20
1158.0     20
899.0      20
837.0      20
804.0      20
1011.0     20
926.0      20
1155.0     20
1203.0     20
1047.0     20
986.0      20
861.0      20
735.0      20
1301.0     20
1054.0     20
928.0      19
866.0      19
           ..
8738.0      1
8907.0      1
3663.0      1
4100.0      1
3297.0      1
5116.0      1
5595.0      1
5731.0      1
116.0       1
4089.0      1
7009.0      1
3886.0      1
3549.0      1
4531.0      1
3926.0      1
3303.0      1
3794.0      1
3147.0      1
3589.0      1
4625.0      1
3284.0      1
7305.0      1
4033.0      1
5110.0      1
11973.0     1
2994.0      1
4333.0      1
3891.0      1
5087.0      1
3591.0      1
Name: population, Length: 3888, dtype: int64

In [39]:
housing["households"].value_counts()

306.0     57
386.0     56
335.0     56
282.0     55
429.0     54
375.0     53
284.0     51
297.0     51
362.0     50
380.0     50
278.0     50
340.0     50
316.0     49
329.0     49
319.0     49
330.0     49
377.0     48
309.0     48
426.0     48
341.0     48
357.0     47
352.0     46
363.0     46
410.0     46
269.0     46
332.0     46
274.0     46
338.0     46
389.0     46
295.0     46
          ..
2350.0     1
1080.0     1
1946.0     1
1523.0     1
1546.0     1
2777.0     1
1313.0     1
5358.0     1
1511.0     1
1114.0     1
1763.0     1
1285.0     1
3478.0     1
3671.0     1
2654.0     1
1911.0     1
1411.0     1
1153.0     1
1486.0     1
2962.0     1
2036.0     1
1816.0     1
1710.0     1
1858.0     1
1385.0     1
1506.0     1
1765.0     1
1338.0     1
2333.0     1
1455.0     1
Name: households, Length: 1815, dtype: int64

In [42]:
housing["median_income"].value_counts()

3.1250     49
15.0001    49
2.8750     46
4.1250     44
2.6250     44
3.8750     41
3.0000     38
3.3750     38
3.6250     37
4.0000     37
4.3750     35
2.1250     33
2.3750     32
4.6250     31
3.5000     30
3.2500     29
3.7500     29
4.8750     29
1.6250     29
2.2500     29
4.2500     28
2.5000     28
3.6875     26
2.7500     25
4.5000     24
2.5625     21
1.8750     21
5.0000     20
3.0625     19
4.4375     18
           ..
5.7780      1
1.3672      1
4.6420      1
2.5389      1
6.2113      1
2.1975      1
6.0591      1
2.1403      1
1.5161      1
4.0037      1
1.9306      1
4.0517      1
3.5082      1
5.2649      1
6.7744      1
4.0677      1
2.1216      1
4.1449      1
6.0808      1
5.6263      1
4.8283      1
2.5599      1
7.3031      1
2.7209      1
2.1630      1
4.1514      1
1.2614      1
2.0294      1
6.7079      1
3.7306      1
Name: median_income, Length: 12928, dtype: int64

In [41]:
housing["median_house_value"].value_counts()

500001.0    965
137500.0    122
162500.0    117
112500.0    103
187500.0     93
225000.0     92
350000.0     79
87500.0      78
275000.0     65
150000.0     64
175000.0     63
100000.0     62
125000.0     56
67500.0      55
250000.0     47
200000.0     46
118800.0     39
450000.0     37
156300.0     35
212500.0     33
193800.0     31
181300.0     31
300000.0     30
75000.0      30
81300.0      29
55000.0      29
93800.0      29
106300.0     28
143800.0     28
400000.0     27
           ...
373500.0      1
433000.0      1
354600.0      1
389700.0      1
370100.0      1
304200.0      1
477200.0      1
422500.0      1
445900.0      1
309000.0      1
413100.0      1
465700.0      1
353700.0      1
438900.0      1
396700.0      1
380300.0      1
478500.0      1
455300.0      1
403000.0      1
363900.0      1
494400.0      1
389800.0      1
347500.0      1
487000.0      1
331100.0      1
303200.0      1
307900.0      1
383200.0      1
360800.0      1
405500.0      1
Name: median_house_value, Length: 3842, dtype: int64

In [40]:
housing["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [99]:
items = housing["ocean_proximity"].iteritems()
for item in items:
    if item[1] == "ISLAND":
        print ( item )

(8314, 'ISLAND')
(8315, 'ISLAND')
(8316, 'ISLAND')
(8317, 'ISLAND')
(8318, 'ISLAND')

In [100]:
%matplotlib inline
import matplotlib.pyplot as plt
housing.hist(bins=50, figsize=(20,15))
plt.show

SyntaxError: invalid syntax (<ipython-input-100-8a07db2efd60>, line 1)